<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="log.listener.util.LogListener">
		</listener>
	</listeners>
	
  <test thread-count="5" name="tests">
    <classes>
      <class name="tests.LoginTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
